.container-contato {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.btn-wpp button,
.btn-telefone button {
  margin-top: 0.4rem;
  width: 15rem;
  height: 3rem;
  border: 1px solid red;
  border-radius: 0.6rem;
}
.btn-wpp button {
  display: flex;
  align-items: center;
  background-color: #25d366;
  color: white;
}
.btn-wpp button img,
.btn-telefone img {
  width: 1.8rem;
}
.btn-telefone button {
  display: flex;
  align-items: center;
}
