.container-pilares {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 31rem;
}
.container-pilares h2 {
  text-align: center;
  text-decoration: underline;
  margin-top: 0.8rem;
  font-size: 2em;
}
.container-pilares p {
  font-size: 2em;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-bottom: 4px solid black;
  margin-bottom: 3px;
}
