* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
#conteudo {
  width: 100%;
  overflow: hidden;
}
.menu {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(98, 98, 160);
  align-items: center;
}
.title {
  display: flex;
  align-items: center;
}
.menu img {
  margin-right: 0.8rem;
  width: 5rem;
  height: 5rem;
}
.menu p {
  font-size: 1.5rem;
}
.title {
  width: auto;
  display: flex;
  justify-content: space-between;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info span {
  margin: 1.2rem;
  font-size: 1rem;
}
.wpp,
.number {
  display: flex;
  align-items: center;
}
.menu-links {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: rgb(53, 45, 45);
}
.container-menu ul {
  display: flex;
  list-style-type: none;
  text-decoration: none;
}
.container-menu ul li {
  padding: 1rem;
}
.container-menu ul li a {
  text-decoration: none;
  margin: 0.8rem;
  color: white;
}
.container-menu ul li a:hover {
  border-bottom: 1px solid white;
}
.img-carrossel img {
  width: 100%;
}

/* Container Selo */
.container-selo {
  width: 100%;
  height: auto;
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
}
.btn-consulta {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 219);
}
.btn-consulta-title {
  width: 100%;
  height: auto;
  display: flex;
}
.btn-consulta-title h2 {
  width: 100%;
  margin-top: 1rem;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.imgs-selo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgs-selo img {
  width: 18rem;
  max-width: 31rem;
}
.img2 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.img2 img {
  width: 21rem;
}
.btn-selo {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100%;
}
.btn-consulta button {
  display: flex;
  align-items: center;
  width: 18rem;
  height: 10vh;
  font-size: 1.5rem;
  margin-top: 0.8em;
  background-color: rgb(98, 98, 160);
  color: white;
  border-radius: 0.8rem;
}
.button {
  border: 0.4rem solid black;
  display: flex;
}

.btn-consulta button img {
  margin-right: 3rem;
}
.btn-consulta button a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style-type: none;
  text-decoration: none;
  color: white;
}

/* CONTATO */
.container-contato {
  background-color: rgb(98, 98, 160);
  color: white;
  width: 100%;

  overflow: hidden;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.conteudo-form {
  width: 100%;
  max-width: 31rem;
}
.conteudo-form h2 {
  text-align: center;
  font-size: 2rem;
}
.conteudo-form form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.conteudo-form form input,
textarea {
  border: 4px solid black;
  padding: 1em;
  width: 25rem;
  height: 3rem;
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
}

.btn-submit {
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-width: 10rem;
  font-size: 1.4em;
  background-color: black;
  color: white;
  border-radius: 0.8rem;
}

.container-iframe {
  width: 27rem;
  height: 21rem;
}
.conteudo-local iframe {
  margin-top: 5rem;
}
.conteudo-local h2 {
  text-align: center;
  font-size: 2rem;
}
/* conteudo info */
.container-info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: white;
}
.container-info div {
  display: flex;
  align-items: center;
}
.container-info div img {
  margin-right: 0.6rem;
}
.mobile-menu {
  display: none;
}
.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 590px) {
  .info {
    display: none;
  }
  .container-selo {
    display: flex;
    flex-direction: column;
  }
  .container-contato {
    display: flex;
    flex-direction: column;
  }
  .container-info {
    display: none;
  }
  .container-menu {
    display: none;
  }
  .title {
    flex-direction: column;
  }
  .container-selo {
    flex-direction: column;
  }
  .menu-left p,
  span {
    font-size: 0.8rem;
  }
  .btn-consulta {
    max-width: 15rem;
    margin: auto;
  }
  header {
    flex-direction: column;
  }
}
